/* thẻ này dùng để ghi chú trong 1 file css bắt kì */
/* body {background: url(https://cdn.pixabay.com/photo/2021/08/02/05/17/sunflower-6515860_1280.jpg); background-position:unset;background-repeat: repeat-y;} */
/* body{background: url(../css/Hinh/anh3.jpeg);background-repeat: repeat-y;} cách sd ảnh trong file máy chủ */

h1 { color: brown; font-size: 30pt;}

p { color:blue; font-size:20pt;}

#tieu-de-2 { color:#ff0000}/* thẻ id dùng dấu # */

.noi-dung {color: blueviolet;background-color:mediumseagreen; text-shadow: palegreen 2px 5px 4px ;}/* thẻ class dùng dấu . */

ul li p i {color: blueviolet;}

a:link{color: rgb(3, 51, 51);}

a:hover{color: blue;}

.noi-dung-1{color: rgb(222, 135, 187); font-family: 'Times New Roman', Times, serif; 
    font-weight: 300;font-style: initial; font-size: 35pt;text-shadow: rgb(10, 5, 141) 5PX 7px 9px;text-decoration:underline;text-transform: uppercase;}
img { display: none;}
.View:hover img{display: inline-block;}
.khung-1{
    background-color: aqua;
    text-align: center;
    margin: 50px;
    padding: 20px;
    border: 10px solid red;

}