 
 h1{
    /* border: 1px solid black; */
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
    color: red;}
 body{
    background-color: antiquewhite;
    margin: 50px 50px 0px 50px;
    font-family: 'Times New Roman', Times, serif;}
 .file{
    display:flex;}
.file1{
    list-style-image: url(../file-anh/anh1.jpg);}
.file2{
    list-style-image: url(../file-anh/anh2.jpg);}
.file1, .file2 {
    flex-basis: 100%;}
 .file1 li, .file2 li{
    text-decoration: none; /* Không có đường gạch chân */
    color: black;   /* Màu chữ đen */
    background-color: white; /* Màu nền ban đầu là màu trắng */
    font-size: 15pt;
    border: 1px solid black;
    padding: 10px; }

.file1 li, .file2 li{
    transition: color 0.3s;background-color: 0.3s;}
a { 
    color: black; /* Màu chữ đen */
    text-decoration: none; /* Không có đường gạch chân */}
li:hover{ 
    background-color: yellowgreen; /* Màu nền là màu vàng xanh khi rê chuột vào */
    color: white;}                 /* Màu chữ là màu trắng khi rê chuột vào */
a:hover{ 
    background-color: yellowgreen; /* Màu nền là màu vàng xanh khi rê chuột vào */
    color: white;}                 /* Màu chữ là màu trắng khi rê chuột vào */